.navbar {
  height: 3rem;
  border-bottom: 0.5px solid rgb(230, 227, 227);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem;
    width: 100%;

    .search {
      display: flex;
      align-self: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background-color: transparent !important;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin: 0.2rem;
        position: relative;

        .icon {
          font-size: 1.7rem;
          cursor: pointer;

          &:hover {
            fill: #7451f8;
          }
        }
        img {
          height: 2.3rem;
          width: 2.3rem;
          border-radius: 50%;
        }

        .counter {
          width: 0.7rem;
          height: 0.7rem;
          background-color: #7451f8;
          border-radius: 50%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.7rem;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
